#content_container {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
#left { display: none; }
#right {display: none;}
/*Note: I need display: block to center things by overriding display:inline-block in base*/
#center {width: 50em; display:block; margin-left:auto; margin-right:auto;
     padding: 0;}

#info_msg_container{ width: 30em; margin-left:auto; margin-right:auto;}


#topline_mydesk {
    width: 10em; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    padding-bottom: .1em;
    border-bottom: 1px solid lightgrey;
}
#topline_tagline {display: inline-block;}
#topline #form_p{margin-bottom: 0}
#topline form#review_vocab {
    width: 40em;
    padding: 0 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid lightgrey;

}
input#go_button {
    font-size: 1em;
    width: 4em;
}

div#vocab_controls_container{
    position: relative;
    z-index: 2;
    height: 1.5em;
}
div#vocab_controls_fake{
    /*Needed for fancy scrolling*/
    height: 1.5em;
    display: none;
}

ul#vocab_controls {
    list-style: none;
    width:10em;
    margin: auto;
}
ul#vocab_controls li{
    background-color: rgba(255,255,255,0.5);
    display: inline-block; 
    padding:0 1em;
}

table.vocab_list {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: none;
}

table.vocab_list td{
    padding: .2em 0;
    border: none;
    width: 14em;
    text-align: left;
    font-size: 1.2em;
}

table.vocab_list td:first-child {
    color: #323232;
}

table.vocab_list td:nth-child(2) {
    visibility: hidden;
    padding-left: .5em;
    color: silver;
    font-weight: 300;
}

