{% extends "base.html" %}

{% block head %}
<!-- I could abstract the next row so that I have another head block in storiesbase.html -->
<link rel="stylesheet" href="/static/css/mydesk.css" type="text/css" media="screen" charset="utf-8">
<script type="text/javascript" src="/static/js/mydesk.js"></script>
{% endblock %}


{% block topline %}
<h1 id="topline_mydesk">My Desk</h1>

{% if not stories %}
	{% from 'macros.html' import info_message %}

	{{ info_message("Once you have some vocabulary you can come here to review your words.")}}
{% else %}

<form id="review_vocab" action="/reviewvocab" method="get" accept-charset="utf-8">
	<p id="form_p"> Show
	<select name="num_words" id="num_words" size="1">
		{% for i in ['all','1','5','10','20','50','100','500'] %}
			<option {% if i == num_words %} selected {% endif %}
			 value="{{i}}">{{i}}</option>
		{% endfor %}
	</select>
	words
	<select name="random_or_not" id="random_or_not" size="1">
		<option value="in_order">in order added</option>
		<option {% if random_or_not == 'random' %} selected {% endif %}
		value="random">randomly chosen</option>
	</select>
	from
	<select name="which_stories" id="which_stories"
	 multiple style="height: 5em; vertical-align:top">
		
		{% for (s, s_key_e) in stories %}
		<option {% if s_key_e in which_stories_e %} selected {% endif %}
		 value="{{s_key_e}}">{{s.title}}</option>
		{% endfor %}
		
	</select>
	
	<input autofocus type="submit" id="go_button" value="GO">
	</p>
</form>


{% endif %}
{% endblock %}




{%block center %}
{% if my_vocab %}

<ul id="vocab_controls">
	<li><a href="#" id="defs">definitions</a></li><!--  
	--><li><a href="#" id="make_templist">make a list</a></li><!--  
	--><li><a href="#" id="quiz_me">quiz me</a></li>
</ul>

<table id="my_vocab_table" class="vocab_list" border="1">
	<tbody>
	{% for (v, v_key_e) in my_vocab %}
		<tr id="{{v_key_e}}"><td>{{v.hungarian}}</td><td>{{v.meaning}}</td></tr>
	{% endfor %}
	</tbody>
</table>
<br/>
{% endif %}
{% endblock %}





<!-- {% block right_side %}
<h3>The temporary list.</h3>



{% endblock %} -->