<!-- Q and A html -->
{% if question %}
<div class="QA_container" id="{{q_key_e}}">
	<div class="Q_container">
		<hr/>
		<p class="question_text"><span class="big_Q">Q</span> {{question.question}}</p>
		
		<div class="meta_Q">
			<div>
				<!-- <i class="icon-circle student_level {{question.uploader.level}}"
				 style="font-size: .5em; vertical-align: center"></i> -->
				<a class="student_level
				{{question.uploader.level}}">{{question.uploader.name}}</a>
				&nbsp; &nbsp;
				{{question.created.strftime("%b %d, '%y")}}
			</div>
			<div>
				<a href="#" class="answer_it">answer it!</a>
				{% if student.name == question.uploader.name %}
				&nbsp; &nbsp;
				<a href="#" class="delete_question">delete</a>
				{% endif %}
			</div>
		</div>
		
		<form class="answer_question" action="/answerquestion" method="post"
		 accept-charset="utf-8">
			<div class="A_label_container">
				<label class="big_A">A </label>
			</div><!-- 
		 --><textarea type="text" name="answer" rows="3"
			 placeholder="The way to think of it is..." class="answer"></textarea>
			
			<button type="submit"
			 class="submit_answer"><i class="icon-comment"></i>
					 submit answer</button>
					
			<div class="clear"></div>
			
		</form>
	</div>
{% endif %}

{% for (answer, a_key_e) in answers %}
	<div class="A_container" id="{{a_key_e}}">
		<p class="answer_text"><span class="big_A">A</span> {{answer.answer}}</p>
		<div class="meta_A">
			<div>
				<a class="student_level
				{{answer.uploader.level}}">{{answer.uploader.name}}</a>
				&nbsp; &nbsp;
				{{answer.created.strftime("%b %d, '%y")}}
			</div>
			<div>
				<span class="thanks_counter">{{answer.thanks}}</span> 
				have said <a href="#" class="thanks">thanks!</a>
				{% if answer.uploader.name == student.name %}
				&nbsp; &nbsp;
				<a href="#" class="delete_answer">delete</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}

<!-- end of div.QA_container -->
{% if question %}
</div>
{% endif %}
