{% extends "storiesbase.html" %}

{% block head %}
<!-- I could abstract the next row so that I have another head block in storiesbase.html -->
<link rel="stylesheet" href="/static/css/storiesbase.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/static/css/stories.css" type="text/css" media="screen" charset="utf-8">
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/stories.js"></script>
{% endblock %}

{%block center %}
<div id="top_nav_container">
	<a class="top_nav chosen" id="most_recent"
	 href="/?type_filter=most_recent&amp;difficulty={{difficulty}}">most recent</a>
	<a class="top_nav" id="unanswered"
	 href="/?type_filter=unanswered&amp;difficulty={{difficulty}}">unanswered Qs</a>
	<!-- 
		Queries for the future:
		
		<a class="top_nav disabled" href="/">most read</a>
	<a class="top_nav disabled" href="/">highest rated</a>     
	<a class="top_nav disabled" href="/">tracks</a>	     
	<a class="top_nav disabled" href="/">tags</a> 
	
	-->
</div>
<br/>
<!-- <div id="legend">
	<p><span class="red">Q</span> - story has unanswered questions</p>
</div> -->

{% for story in stories %}
<div class="query_result">
	<a href="/{{story.key().id()}}"><span class="make_clickable"></span></a>
	<div class="title_row">
		<h2 class="title">{{story.title}}</h2>
		<div class="icon_row">
			{% if False %}
			<!-- I've taken out this red Q -->
			<div class="red">&nbsp;Q</div>
			{% endif %}
		</div>
	</div>
	<ul class="meta">
		<li>by {{story.author}}</li>
		<li class="student_level {{story.difficulty.lower()}}">{{story.difficulty}}</li>
		<li>Uploaded by <a class="uploader_name student_level {{story.uploader.level}}
			disabled">{{story.uploader.name}}</a> on {{story.created.strftime("%b %d, %Y")}}</li>
		<li>tags: {{', '.join(story.tags)}}</li>
	</ul>
	<p class="summary">{{story.summary}}</p>
	{% if story.uploader.name == student.name %}
	<a class="edit_story" href="/editstory?story_id={{story.key().id()}}">edit story</a>
	{% endif %}
</div>
{% endfor %}



{% endblock %}
