{% extends "storiesbase.html" %}

{% block head %}
<!-- I could abstract the next row so that I have another head block in storiesbase.html -->
<link rel="stylesheet" href="/static/css/storiesbase.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/static/css/stories.css" type="text/css" media="screen" charset="utf-8">
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/stories.js"></script>
{% endblock %}

{%block center %}
<a class="top_nav" href="/">most recent</a>
<a class="top_nav" href="/">most read</a>
<a class="top_nav" href="/">highest rated</a>     
<a class="top_nav" href="/">tracks</a>	     
<a class="top_nav" href="/">tags</a>
<br>
<br>

{% for story in most_recent %}
<div class="query_result">
	<a href="/{{story.key().id()}}"><span class="make_clickable"></span></a>
	<h2 class="title">{{story.title}}</h2>
	<ul class="meta">
		<li>{{story.difficulty}}</li>
		<li>Uploaded by <span class="student_level {{story.uploader.level}}">&bull;</span><a class="uploader_name" href="/">{{story.uploader.name}}</a> on {{story.created.strftime("%b %d, %Y")}}</li>
	</ul>
	<p class="summary">{{story.summary}}</p>
	<a class="add_to_reading_list" href="/">add to reading list</a>
</div>
{% endfor %}



{% endblock %}
