{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/storiesbase.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block left_side %}
<h1>Stories</h1>

<a class="left_nav chosen" id="all" href="/?type_filter={{type_filter}}&amp;difficulty=all">all</a>
<a class="left_nav" id="Beginner" href="/?type_filter={{type_filter}}&amp;difficulty=Beginner">beginner</a>
<a class="left_nav" id="Intermediate" href="/?type_filter={{type_filter}}&amp;difficulty=Intermediate">intermediate</a>
<a class="left_nav" id="Advanced" href="/?type_filter={{type_filter}}&amp;difficulty=Advanced">advanced</a>

<a class="left_nav" id="add_story" href="/addstory">add a story</a>
{% endblock %}
